<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% include paritals/header.ejs %>
        <h1>Welcome
            <%=user%> and Branch is
                <%=branch%>
        </h1>
        <p>Your Orders are ::</p>
        <ul>
            <% for(let i = 0; i<prodarr.length; i++){
            %>
                <li>
                    <%=prodarr[i].id%> &nbsp;
                        <%=prodarr[i].name%>
                            <%=prodarr[i].price%> <img src="<%=prodarr[i].image%>" width="100" height="100"></li>
                <%
        }
%>
        </ul>
        <% include paritals/footer.ejs %>
</body>

</html>